.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: whitesmoke;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.5);
}

.pages {
    width: 70%;
    height: 100%;
    overflow-x: hidden;
}

.title {
    width: max-content;
    padding: 10px 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 45px;
    line-height: 1.3;
    font-weight: 100;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
}

@media (max-width: 1024px) {
    .contacts {
        padding: 5px 10px;
    }

    .contacts a {
        font-size: 16px;
    }

    .contacts svg {
        width: 20px;
    }

    .about-text {
        font-size: 1rem;
        width: 50%;
        line-height: 1rem;
    }
}

@media (max-width: 768px) {
    .pages {
        width: 100%;
    }

    .page-title {
        font-size: 34px;
    }

    .greeting-button-wrapper-three {
        grid-gap: 10px;
    }
}

@media (max-width: 576px) {
    .page-title {
        font-size: 24px;
    }

    .mybutton {
        padding: 12px 20px;
    }
}

@media (max-width: 480px) {
    .page-title {
        font-size: 18px;
    }
    .mybutton {
        padding: 4px 5px;
        font-size: 16px;
        letter-spacing: 1px;
    }
}