.stars {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem 1rem;
  justify-content: center;
  background: url('../../assets/img/reviews.JPG') center center / cover no-repeat;
}

.stars-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.contacts:first-child {
  margin-bottom: 20px;
}

.MuiMobileStepper-dots .MuiMobileStepper-dot {
  width: 12px;
  height: 12px;
}