.site-calculate {
    padding: 0 0 2rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-calculate .title {
    font-size: 1.5rem;
    background: none;
    color: black;
    font-weight: 500;
}

.site-calculate-footer {
    text-align: center;
}