.greeting {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: url('../../assets/img/hello.JPG') center center / cover no-repeat;
}

.greeting-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.greeting-title-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
}

.greeting-button-wrapper-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}