.greeting {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: url('../../assets/img/hello.JPG') center center / cover no-repeat;
}

.greeting-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.greeting-title-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting-title {
    width: max-content;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 45px;
    line-height: 1.3;
    font-weight: 100;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
}

.greeting-button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
}

@media (max-width: 768px) {
    .greeting {
        width: 100%;
    }

    .greeting-title {
        font-size: 34px;
    }
}

@media (max-width: 576px) {
    .greeting-title {
        font-size: 24px;
    }

    .mybutton {
        padding: 12px 20px;
    }
}

@media (max-width: 480px) {
    .greeting-title {
        font-size: 18px;
    }

    .mybutton {
        padding: 12px 20px;
    }
}