.nav-list-item{
    margin:  0 0 20px 0;
}

.nav-list-link {
    color: black;
    text-decoration: none;
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    padding: 10px 10px;
    letter-spacing: 0.2rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.nav-list-link:after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 7px;
    left: 10px;
    right: 10px;
    visibility: hidden;
    background-color: #228896;
    transform: scaleX(0);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-list-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

