.contact-item {
    display: flex;
    align-items: center;
}

.contact-item:first-child {
    margin-bottom: 10px;
}

.contact-link a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}