body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@property --ButtonGradientColor1 {
  syntax: '<color>';
  initial-value: rgb(229, 66, 125);
  inherits: false;
}

@property --ButtonGradientColor2 {
  syntax: '<color>';
  initial-value: rgb(159, 74, 225);
  inherits: false;
}