.slider-item {
  background-color: red;
  background-size: contain;
  background-position: center center;
  background-position: no-repeat;
}

.slider-item-1 {
  background-image: url(./../../../src/assets/img/review1.PNG);
}

.slider-item-2 {
  background-image: url(./../../../src/assets/img/review2.PNG);
}

.slider-item-3 {
  background-image: url(./../../../src/assets/img/review3.PNG);
}